
<div class="about">
<h1>Profile Page</h1>




  <img class="user-avatar" src="<%= @user.avatar %>">
  <%= form_for @user, url: user_avatar_upload_path(@user.id), html: { multipart: true }, method: :post do |form| %>


    <%= form.file_field :avatar %>

    <%= form.submit class:"button is-info"%>
    
  <% end %>
  <div class="info">
<p><%= @user.name %></p>
<br>
  <p>
    Born on:
    <%= @user.dob %>
  </p>
  <br>
  <p>
    <% if @user.is_female==false %>

    male


    <% else %>

      female
    <% end %>
  </p>

  </div>


</div>