
<div class="about">
<h1>Profile Page</h1>




  <img class="user-avatar" src="<%= @user.avatar %>">


  <div class="info">
<p><%= @user.name %></p>
<br>
  <p>
    Born on:
    <%= @user.dob %>
  </p>
  <br>
  <p>
    <% if @user.is_female==false %>

    male


    <% else %>

      female
    <% end %>
  </p>

  </div>


</div>


<div id="posts-home">
<div class="deewar-posts">
  <ul id="posts-list" class="posts-list">
    <% post=@user.posts %>

    <% post.reverse.each do |post| %>
      <!--  -->
      <li id="post-<%= post.id %>" class="wow animated fadeInUp">
        <div class="posts-block">

          <p><%= post.content %></p>
          <p><%= post.user.email %></p>
          <% if user_signed_in? && post.user_id ==  current_user.id %>
            <p><%= link_to "Delete", destroy_post_path(post.id), method: :delete, remote: true %></p>
          <% end %>

          <% if user_signed_in? %>
            <p>
              <sub id="post-<%= post.id %>-likes" class="post-like-status">
                <%= render 'posts/post_like_link', post: post %>
              </sub>
            </p>
          <% else %>
            <sub>
              <%= post.likes.length %> Likes

            </sub>

          <% end %>



        </div>
      </li>
    <% end %>
  </ul>


</div>
</div>